<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Martin Fierro - App{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/">
            <img src="/static/img/logo.jpg" alt="Logo">
        </a>
        </div>
        {% if session.get('user_id') %}
            <h3 class="h3">Hola! {{ session.get('user_name') }}</h3>
            <div class="login-button">
                <a href="/edit_profile" class="btn">Perfil</a>
            </div>
        {% else %}
            <div class="login-button">
                <a href="/login" class="btn">Ingresar</a>
            </div>
        {% endif %}
    </nav>
    <!-- Contenido dinámico -->
    <div>
        {% block content %}{% endblock %}
    </div>

    <!-- Footer común -->
    <footer class="footer">
        <p>&copy; 2024 Mi Aplicación de Usuarios</p>
    </footer>
</body>
</html>
